body {
    font-family: sans-serif;
    color: rgb(0, 0, 0);
}

.tiles-container {
    position: relative;
}

.tiles {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* background-color: rgb(102, 102, 102); */
    
    display: grid;
    column-gap: 30px;
    row-gap: 30px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
}

.winner-container {
    position: relative;
}
.winner-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 50px;
    font-size: 4em;
}
.restart-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 265%);
    font-size: 1.5em;
}

/* tiles and backgrounds */
img {
    height: 100%
}

.tile {
    width: 200px;
    height: 200px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
